.cart-txt{
    text-align: center;
    margin: 1rem 0;
}
.cart-innner-container{
    padding:1rem;
}
.cart-titles{
    display: flex;
    justify-content: space-between;
  
}
.cart-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.left-conatiner{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.cart-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.quantity-txt{
    font-size: 1.2rem;
    font-weight: 400;
}
.quantity-fig{
    font-size: 1.4rem;
}
.cart-bottom{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.total-checkout{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.empty-cart-container{
    min-height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.empty-cart-link{
    text-decoration: none;
}