.topfeaturedproduct{
    display: flex !important;
    position: relative;
    justify-content: space-between !important;
}
/* .features-tabs{
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;

} */
.features-tab{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}
