/* .topfeaturedproduct{
    display: flex !important;
    justify-content: space-between !important;
    border: solid purple;
    position: relative;
    
}
.features-tab{
    position: absolute;
    top: 60px;
    left: 0;
    display: block ;
    width: 100%;
    min-height: 100%;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 2rem;
}
@media screen and (max-width:789px){
    .topfeaturedproduct{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem !important;
    }
    .features-tab{
        margin-top: 1rem !important;
        padding-top:1rem ;
    }
} */

.tabs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .tabs button {
    padding: 10px 20px;
    border: none;
    background: lightgray;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tabs button.active {
    background: var(--primary-color);
    color: white;
    font-weight: bold;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
  }
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* justify-content: center; */
}
@media screen and (max-width:1024px) {
    .tabs-container{
        flex-direction: column;
    }
    .feature-text{
        text-align: center;
        margin: 1rem 0;
    }
    .content{
        justify-content: center;
    }
}