.filtercontainer{
    margin: 10px 5px;
    border-radius: 10px;
    height: 100%;
}
.filtertext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: relative;
}
.filtertext>small{
    margin: 0.5rem 0;
}

.hovermessage{
    position: absolute;
    top: -35px;
    right: -30px;
    background-color: rgb(255, 255, 251);
    color: black;
    padding: 5px;
}
.rmhover{
    display: none !important;
}
.filterSelectContainer{
    width: 90%;
    margin: auto;
}
.filterSelect{
    width: 100%;
    padding: 0.8rem 0.5rem;
    border-radius: 25px;
    padding-right:15px !important ;
}
.filter-search-btn-container{
    width: 90%;
    margin: auto !important;
    margin-top: 1rem !important;

}
.filter-search-btn{
   width: 100%;
    padding: 0.8rem 0.5rem;
    border-radius: 25px;
    background-color: var(--primary-color);
}