/* Hide default Bootstrap arrow */
.accordion-button::after {
    display: none !important;
  }
  
  /* Style custom icon */
  .changeAccordionIcon {
    margin-right: 10px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    right: 0;
  }
  .blognavsmall{
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
  }
  .carticon{
    font-size: 1.5rem;
  }
  .smallbadge{
    position: absolute;
    top: -10px;
    font-size: 8px !important;
  }
  /* Optional: Animate the custom icon */
  .accordion-button[aria-expanded="true"] .custom-icon {
    transform: rotate(180deg);
  }