.productcontainer{
    width: 95%;
    padding: 2rem 0;
    margin: auto;
}
.product-inner-container{
    gap: 1rem !important;
    justify-content: flex-start;
}
.product-txt{
    padding: 1rem 0;
}
@media screen and (max-width:1024px) {
    .product-inner-container{
        justify-content: center;
    }
}