.logoImage{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


.searchNavCenter{
    width: 60% !important;
}
.searchNavIcon{
    font-size: 2rem;
    cursor: pointer;
}
.searchForm{
    width: 100%;
    align-items: center;
}
.leftTopAd{
    display: flex ;
    gap: 1rem;
}
.searchNavmenuIcon{
    font-size: 1.5rem;
    cursor: pointer;
}
.leftTopAdvert{
    display: flex;
    gap: 1rem;
}
@media screen and (max-width:1024px) {
    .searchNavCenter{
        display: none !important;
    }
    
}
