.top-single-product{
    display: flex;
}
.image-conatiner-single-product{
    width: 60%;
}
.single-product-image{
    width: 100%;
    object-fit: cover;
    height: 70vh;
}
.properties-container{
    display: flex;
}
.quantity-container{
    display: flex;
    align-items: center !important;
    gap: 1rem;
    border: solid;
}
.counter{
    font-size: 1.2rem;
    background-color: bisque;
    padding: 0.5rem;
    border-radius: 50%;
}