.top-single-product{
    display: flex;
}
.image-conatiner-single-product{
    width: 60%;
}
.single-product-image{
    width: 100%;
    object-fit: cover;
    height: 70vh;
}
.properties-container{
    display: flex;
}