.todaydeal-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.today-deal-text{
    /* border: solid; */
    width: 70%;
}
.sold-available{
    display: flex;
    justify-content: space-between;
}

.sponsor-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 3rem 0;
    flex-wrap: wrap;
    gap: 2rem;
}
.sponsor-img{
    width: 150px;
    height: 85px;
}
