.todaydeal-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.today-deal-text{
    /* border: solid; */
    width: 70%;
}
.sold-available{
    display: flex;
    justify-content: space-between;
}
