.trending-category-container{
    display: flex;
    justify-content: space-between;
    margin:2rem 1rem;

}
.trending-cat-card{
    width: 30%;
    display: flex;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px gray; */
    border: 0.5px solid gray;
    padding: 15px 10px;
    border-radius: 10px;
}
.trendcat-text-container{
    width: 50%;
    
}
.trendcat-text-container a{
    text-decoration: none;
    color: black;
}
.trendcat-text-container a:hover{
    color: red;
    text-decoration: underline;
}
.trend-card-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
@media screen and (max-width:1024px) {
    .trending-category-container{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .trending-cat-card{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 1rem;
        width: 90%;
    }
}